{{ define "main" }}
        <div id="mainpageintro" class="row">
        	<div id="mainpageintroleft" class="col-lg-6">
        		<p class="highlight">MSF Makes is a collection of innovative projects  and tools for you to replicate, improve, share and get involved with. These innovations can improve the way MSF works, and the care we provide to patients and communities.</p>
        		<p class="highlight">They have been tried and tested in the field by  doers, inventors, makers, and problem–solvers just like you.</p>
        	</div>
        	<div class="col-lg-6">
        		<img src="images/front/MSFMakes_Issue1_COVER_AWK_02.jpg" width="100%"/>
        	</div>
        </div>
        <div class="row contentrow">       	
				{{ partial "project_card.html" (dict "context" . "projecttitle1" "Gravity-Fed" "projecttitle2" "Water Treatment System" "url" "gravity" "color" "#94d6da" "number" "01" "author" "Farooq Khan" "image" "gravity/612x297_MASTER_0054_Layer_7.jpg" "description" "An easy to maintain system to convert untreated water with a turbidity of more than 50 nephelometric turbidity units (NTU) into safe, potable water (below five NTU) using locally available resources. The large version of the system can produce 5,500 litres of potable water in eight hours and is easy to maintain.") }}
				
                {{ partial "project_card.html" (dict "context" . "projecttitle1" "Runaway" "projecttitle2" "Backpack" "url" "backpack" "color" "#fbe07c" "number" "02" "author" "Nairobi Displacement Unit" "image" "backpack/612x297_MASTER_0052_Layer_9.jpg" "description" "A simple, waterproof backpack, containing emergency medical supplies, including a solar charger, treatment for malaria, infections and body pain, a dressing kit for wounds and, a register to record what has been used.") }}
        </div>
        <div class="row contentrow">
            
            	{{ partial "icon_segment.html" (dict "context" . "icon" "ICON_42.png") }}

				{{ partial "project_card.html" (dict "context" . "projecttitle1" "Home-based" "projecttitle2" "Insulin Management" "url" "cooler" "color" "#ed1c24" "number" "03" "author" "Said A. Hassan" "image" "cooler/1876x800_MASTER_0040_Layer_6_1.jpg" "description" "A training service to help educate Type 1 diabetes patients in how to manage their condition and a DIY cooling container to help store insulin at home without electricity.") }}

				{{ partial "project_card.html" (dict "context" . "projecttitle1" "Stories" "projecttitle2" "Of Change" "url" "story" "color" "#91ccad" "number" "04" "author" "Arnette De Jong" "image" "story/612x297_MASTER_0041_Layer_20.jpg" "description" "A simple, sustainable, collaborative method for long-lasting health behaviour change, which employs jointly-created, locally-rooted educational stories that spread organically as they are retold and shared by community members through their social networks.") }}
        </div>
        <div class="row contentrow">
				{{ partial "project_card.html" (dict "context" . "projecttitle1" "Local Mapping" "projecttitle2" "For Ebola" "url" "maps" "color" "#94d6da" "number" "05" "author" "Paras Valeh" "image" "maps/612x297_MASTER_0032_Layer_29.jpg" "description" "A method of gathering, cleaning and validating data for city-wide health centre locations and health administration boundaries to inform maps and surveillance dashboards within a two week period.") }}

				{{ partial "project_card.html" (dict "context" . "projecttitle1" "Solar-powered" "projecttitle2" "Hospital Handover" "url" "solar" "color" "#fbe07c" "number" "06" "author" "Per-Erik Ericson" "image" "solar/1876x800_MASTER_0016_Layer_30_1.jpg" "description" "How to design and implement an energy exit strategy for the handover of a hospital project to the community.") }}
        </div>
        <div class="row contentrow">
        	<div class="col-md-12 subsectiontitle">
        		<p>Meet the Makers</p>
        	</div>
        </div>
        <div class="row contentrow">
				{{ partial "maker_profile.html" (dict "context" . "firstname" "Farooq" "lastname" "Khan" "project" "Gravity-Fed Water Treatment System" "projecturl" "gravity" "image" "Maker_01.png" "bio" "Farooq Khan is a professional engineer with 14 years of experience working in water, sanitation and hygiene, including for the International Rescue Committee, Terra des Hommes, the Norwegian Refugee Council, Save the Children, International Medical Corps and MSF. He has also done engineering work in the USA, Qatar and Pakistan. Farooq has a degree from the University of Engineering and Technology in Pakistan and earned a postgraduate scholarship to study in the USA. ") }}        	

				{{ partial "maker_profile.html" (dict "context" . "firstname" "Per-Erik" "lastname" "Ericson" "project" "Solar Powered Hospital Handover" "projecturl" "solar" "image" "Maker_06.png" "bio" "Since 2016 Per-Erik Eriksson has worked for MSF as a logistician in the Democratic Republic of the Congo and with the Swedish Innovation Unit. He holds a PhD in civil engineering from Chalmers University in Gothenburg, Sweden. After his studies, he further specialised in wood construction and issues of sustainability in construction.") }}        	

				{{ partial "maker_profile.html" (dict "context" . "firstname" "Said A." "lastname" "Hassan" "project" "Home-based Insulin Management" "projecturl" "cooler" "image" "Maker_03.png" "bio" "Dr Said A. Hassan has worked in the Dagahaley refugee camp, part of the Dadaab refugee complex, since 2009, and for MSF since 2013. He specialises in the care of patients with chronic communicable diseases and chronic non-communicable diseases. Dr Said is a graduate of the School of Public Health in Environmental Health at Kenyatta University, Kenya. He also trained in clinical medicine and surgery at the Kenya Medical Training College.") }}
        </div>
        <div class="row contentrow">
        	<div class="col-md-12 subsectiontitle">
        		<p>Looking Outwards</p>
        	</div>
        </div>
         <div class="row contentrow">
        		{{ partial "looking_out.html" (dict "context" . "projecttitle1" "Scooping Fresh Air Into" "projecttitle2" "Your Car" "image" "764x570_MASTER_0019_Layer_43.jpg" "description" "It’s not an uncommon experience with MSF to find yourself riding in a vehicle which is unbearably hot. Make these quick scoop air vents, so the next time you’re on the move you’ll be the coolest people in town." "urltext" "Read on Make magazine" "url" "https://makezine.com/projects/scoop-fresh-air-into-your-car-window-vent") }}

        		{{ partial "looking_out.html" (dict "context" . "projecttitle1" "Make a no sew" "projecttitle2" "Baby Wrap" "image" "612x297_MASTER_0012_Layer_49.jpg" "description" "Carrying a baby close to the chest in the early days after their birth regulates their temperature, breathing and oxygen levels, calms and soothes them, aids their restful sleep, reduces pain and stress, lowers the risk of infection, promotes breastfeeding and usually means shorter stays in hospital. Follow the steps to start making your own wraps." "urltext" "Read on Penny Pichin Mom" "url" "https://www.pennypinchinmom.com/no-sew-copycat-moby-wrap") }}
        </div>      
{{ end }}